{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": { "singleQuote": false, "trailingComma": "none" }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": { "singleQuote": false }
    },
    {
      "files": "*.md",
      "options": { "proseWrap": "preserve", "printWidth": 120 }
    },
    {
      "files": "*.html",
      "options": { "printWidth": 120, "singleQuote": false, "htmlWhitespaceSensitivity": "css" }
    },
    {
      "files": ["*.css", "*.scss", "*.less"],
      "options": { "singleQuote": false }
    }
  ]
}